<mat-toolbar>
  <h1>YouFeels</h1>
  <span class="example-spacer"></span>
  <div class="header-icon">
    <div class="" matTooltip="Se deconnecter">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="logout"
      ></mat-icon>
    </div>
    <div class="" matTooltip="Nom de l'utilisateur">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="account_circle"
      ></mat-icon>
    </div>
  </div>
</mat-toolbar>
