.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container-card{
    text-align: center;
    margin-top:20px;
    margin-bottom: 20px;
}
.miniature{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.container-tab{
  padding-bottom: 10%;
}


.avis-positif, .avis-negatif {
  cursor: pointer;
  margin-left: 15px;
}

.avis-positif:hover{
  color: blue;
}

.avis-negatif:hover{
  color: red;
}