.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container-card{
    height: 20vh;
    text-align: center;
    margin-top:50px;
}
img{
    height: 75px;
}

.container-tab{
  padding-bottom: 10%;
}


.avis-positif, .avis-negatif {
  cursor: pointer;
  margin-left: 15px;
}

.avis-positif:hover{
  color: blue;
}

.avis-negatif:hover{
  color: red;
}