.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
}
mat-form-field{
    width: 350px!important;
}
.container-card {
    height: 20vh;
    text-align: center;
    margin-top: 200px;

}

img {
    height: 75px;
}


.container-tab {
    padding-bottom: 10%;
}

.on-item {
    cursor: pointer;
}

.on-item-avis {
    cursor: pointer;
    margin-left: 15px;
}