<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <h1>Comments</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Commentaire</th>
                <th>Émotion</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.username }}</td>
                <td>{{ comment.commentaire }}</td>
                <td>{{ comment.emotion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
