<div class="sidebar-menu">
  <div
    class="icon-container"
    matTooltip="Page avec video youtube"
    (click)="redirectToAPI()"
  >
  <mat-icon
  aria-hidden="false"
  aria-label="Smiley souriant">
  sentiment_satisfied_alt
  </mat-icon>
    <label>API</label>
  </div>
  <div
    class="icon-container"
    matTooltip="Page avec les graphiques"
    (click)="redirectToMock()"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="analytics"
    ></mat-icon>
    <label>Test</label>
  </div>
</div>
